<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>GotTravel Contacto</title>
      <link rel="stylesheet" href="../static/styles.css">
      <link rel="stylesheet" href="../static/form-style.css">
      <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous"
      />
      <script
        src="https://kit.fontawesome.com/11d8a81032.js"
        crossorigin="anonymous"
      ></script>
      <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    {% include 'header.html' %}
    <main>
      <div id="banner-contact" class="title validation-form">
        <h2>Gracias por contactarte con nosotros</h2>
      </div>
      <div class="container validation">
        <section class="response">
          <h1>Pronto responderemos su consulta.</h1>
        </section>
      </div>
      <button class="scroll-up"><i class="fa-solid fa-circle-chevron-up"></i></button>
  </main>
  <script src="../static/app.js"></script>
  {% include 'footer.html' %}
  </body>
</html>