<html lang="es">
  <head>
    <title>GotTravel Editar viaje</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../../static/form-style.css">
  </head>
  <body>
    {% include 'header.html' %}
    <div id="banner-create" class="title create" >
      <h2>Editar viaje</h2>
    </div>
    <div class="container">
      {% for viaje in viajes %}
      <form id="form-create" action="/update" method="post" enctype="multipart/form-data">
        <label for="txtID">Identificador:</label>
        <input type="text" name="txtID" id="txtID" value="{{viaje[0]}}"><br>
        <label for="txtDestino">Destino:</label>
        <input type="text" name="txtDestino" id="txtDestino" value="{{viaje[1]}}"><br>
        <label for="txtFechaInicio">Fecha Inicio:</label>
        <input type="date" name="txtFechaInicio" id="txtFechaInicio" value="{{viaje[2]}}"><br>
        <label for="txtFechaFin">Fecha Fin:</label>
        <input type="date" name="txtFechaFin" id="txtFechaFin" value="{{viaje[3]}}"><br>
        <label for="txtPasajeros">N° Pasajeros:</label>
        <input type="number" name="txtPasajeros" id="txtPasajeros" value="{{viaje[4]}}"><br>
        <input type="submit" value="Guardar">
      </form>
      {% endfor %}
    </div>
    {% include 'footer.html' %}
  </body>
</html>