<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GotTravel Mis Viajes</title>
  <link rel="stylesheet" href="../../static/styles.css">
  <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
  <script
      src="https://kit.fontawesome.com/11d8a81032.js"
      crossorigin="anonymous"
    ></script>
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
</head>
<body>
  {% include 'header.html' %}
  <!-- Formulario -->
  <main>
    <div id="banner-travel" class="title travel" >
      <h2>Mis Viajes</h2>
    </div>
    <div id="container-travel" class="container">
      <div class="contain-button">
        <a href="{{url_for('create')}}" id="bt-nuevo" class="btn-travel">Ingresar nuevo destino</a>
      </div>
      <table class="table-travel">
        <thead class="table-titles">
          <tr>
            <th>#</th>
            <th>Destino</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>N° pasajeros</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for viaje in viajes %}
          <tr>
            <td>{{viaje[0]}}</td>
            <td>{{viaje[1]}}</td>
            <td>{{viaje[2]}}</td>
            <td>{{viaje[3]}}</td>
            <td>{{viaje[4]}}</td>
            <td><a class="btn btn-warning"><i class="fa-solid fa-pen"></i></a> <a class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <button class="scroll-up"><i class="fa-solid fa-circle-chevron-up"></i></button>
  </main>
  {% include 'footer.html' %}
  <script src="../static/app.js"></script>
</body>
</html>